/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

h1::before{
    content: "";
    background-color: orange;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}